<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File details</title>
    </head>
    <body>
        <header>
            <nav role="navigation" aria-label="Main navigation">
                <ul>
                    <li><a href="/folders">Your Storage</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="file-details" aria-label="File Details">
                <header>
                    <h1><%= file.name %></h1>
                    <nav class="button-container">
                        <a href=<%= file.folderId ? `/folders/${file.folderId}` : '/folders' %>>Go back</a>
                        <a href=<%= `/files/${file.id}` %>>Download</a>
                    </nav>
                </header>

                <section class="file-atrribute-table-container" aria-label="File attribute">
                    <%- include("partials/file-attribute-table", { file, currentPath }) %>
                </section>
            </section>
        </main>
    </body>
</html>